.input-container{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
  }
  .input-div{
    width: 560px;
    height: 50px;
  }
  .input-container input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #DE369D;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 13px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
  }
  .plus-btn{
    width: 50px;
    height: 50px;
    
  }
  button{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 30px;
    font-weight: bolder;
    background-color: #DE369D;
    cursor: pointer;
  }
  .ban{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DE369D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .ban img{
    width: 20px;
    height: 20px;
  }
  button:hover{
    color: pink;
  }
  @media screen and (max-width: 840px){
    .input-div{
      width: 510px;
    }
  } 
  @media screen and (max-width: 640px){
    .input-container{
      width: 100vw;
      padding: 0 7px;
    }
    .input-div{
      width: 100%;
    }
    .input-container input{
      font-size: 13px;
    }
  }