@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}
h1{
  font-size: 45px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 840px){
  h1{
    font-size: 40px;
  }
}
@media screen and (max-width: 640px){
  h1{
    font-size: 25px;
  }
}